*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(158, 107, 60);
}


.cuerpo{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header {

    background-image: url(./fotos/portada.jpg);
   
    background-repeat:no-repeat;
    padding-bottom: 500px;

    background-position: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;

}


 h1{
    background-color: rgb(15, 119, 71);
    padding:10px;
   color: white;
}

.Inicio h1{
    position: absolute;
    padding: 200px;
    color: rgb(255, 255, 255);
    margin-right: 60px;
    background-color: rgba(0, 255, 255, 0);
  
  
}



menu ul{
    display: flex;
    padding: 50px;
    justify-content: flex-end;

}


menu ul li{
    list-style: none;
    padding: 10px;
 
}

menu ul li a{
    background-color: rgb(15, 119, 71);
    padding: 20px;
    border-radius: 5em;
    color: white;
    text-decoration: none;
  
   
    
}


.presentacion{
    display:flex;
    width: 80%;
    padding: 30px;
    margin: 0 auto;
}




.texto1{
    text-align: justify;
 
    padding: 30px;
}


.historia{
    display:flex;
    width: 80%;
    padding: 30px;
    margin: 0 auto;

}



.historia img{
    margin-top:50%;
}

.texto2{
    text-align: justify;
   
    padding: 30px;
   
}


.plato{
    width: 370px;
}

.texto3{
    text-align: center;
    padding: 20px;
}


.platostipicos{
    display:flex;
    padding: 40px;
    width: 80%;
    
    
}




.fiesta{
    padding:50px;
    margin-top: 100px;
}


.cabeza{
    background-color: rgba(130, 192, 192, 0.795);
}



.fiestasBarbara{
    width: 60%;
    background-image: url(./fotos/santa.jpeg);
    padding: 100px;
    font-size: 60px;
    margin: 50px;
    padding: 50px;
    

}

.fiestasBarbara:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}




.fiestasBarbara:hover .escritura {

 display:block;
 
     
}



.escritura  {
   
    font-size: 15px;
     background-color: rgba(187, 187, 187, 0.658);
     padding: 30px;
     width: 60%;
    display: none;
   
 
  
}


.fiestasAnton:hover .escritura {

    display:block;
    cursor: pointer;
        
   }


.fiestasAnton{
    width: 60%;
    background-image: url(./fotos/anton.jpg);
    padding: 100px;
    font-size: 60px;
    
    padding: 90px;


}

.fiestasAnton:hover{
    transform: scale(1.1);
    transition: 1s;
}





.fiestasFallas:hover .escritura {

    display:block;
    cursor: pointer;
        
   }
.fiestasFallas{
    width: 60%;
    background-image: url(./fotos/fallas.jpeg);
    padding: 100px;
    font-size: 60px;
   
    padding: 90px;
    margin: 50px;


}


.fiestasFallas:hover{
    transform: scale(1.1);
    transition: 1s;
}



.fiestasPatronales:hover .escritura {

    display:block;
    cursor: pointer;
        
   }


.fiestasPatronales{
    width: 60%;
    background-image: url(./fotos/patronales.jpg);
    padding: 100px;
    font-size: 60px;
    
    padding: 90px;


}

.fiestasPatronales:hover{
    transform: scale(1.1);
    transition: 1s;
}


.titulo{
    margin-top: 200px;
}

.patrona{
    display: flex;
    margin-top: 50x;
  
    width: 90%;
  
    margin-left: 60px;;

}


.imagenes{
    display: flex;
    margin: 20px;
}


.texto{
    width: 40%;
    text-align: justify;
    margin: 20px;
   
}

.imagenes img{
    margin: 20px;
}



.Zonas{
    margin-top: 180px;
}



.rio{
    display: flex;
    width: 60%;
    margin: 50px;
}

.rio p{
    padding: 30px;
    text-align: justify;
}


.Castillo{
    display: flex;
    width: 60%;
    margin-top: 150px;
}

.Castillo p{
    padding: 30px;
    text-align: justify;
   padding: 50px;

}


.Ermita{
    display: flex;
    width: 60%;
    margin-top: 150px;
    margin-bottom: 100px;
}

.Ermita p{

    padding: 30px;
    text-align: justify;
}


footer{
    padding: 50px;
    background-color: rgb(99, 99, 99);
    color: white;
    
}


/*     FORMULARIO    */


.contacto{
    display:flex;
    justify-content: space-around;
    margin-bottom: 150px;
    width: 80%;
}



form{
    padding: 50px;
    width: 100%;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-radius: 1em;
    box-shadow: 40px 40px 20px rgb(150, 150, 150);

}

form  p {
    font-size: 20px;
}


form label{
    margin-bottom: 100px;
}

form input{
    padding:10px;
   
}

.obligatorio{
    color: red;
}

#enviar{
    padding: 10px;
    width: 120px;
    border-radius: 1em ;
    background-color:  rgb(15, 119, 71);
    color: white;
}

.aviso{
    font-size: 15px;
}